<!--
Document :
Created on : 08.12.2013
Author : Daniel Sauer <sauerda45569@th-nuernberg.de>
Description : About Us Modal
-->

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h1 class="modal-title" id="about-modal-label">About Us - PLATZHALTER</h1>
        </div>
        <div class="modal-body">
            <address>
                <strong>HWHLabs UG (haftungsbeschränkt) in Vorgründung</strong><br />
                Goethestraße 9<br />
                90409 Nürnberg<br />
                info@hwh-labs.com
            </address>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn do-btn-primary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
